.main-wrapper
    header
        .search
            i.glyphicon.glyphicon-search
            input(type='text', ng-model='domain.tempUrl', ng-keydown='domain.checkInput($event)')
    main.container-fluid(ng-if='domain.url', ng-cloak)
        .domain-header
            img.favicon(ng-src='{{domain.favicon}}', alt='favicon')
            h1 {{domain.url}}
        h3.title {{domain.title}}
        p.category {{domain.category}}

        .ranks
            .global-rank Global Rank <span>{{domain.globalRank}}</span>
            .country-rank Country Rank <span>{{domain.countryRank}}</span>
            .category-rank Category Rank <span>{{domain.categoryRank}}</span>

        .similar-sites
            h2.similar-sites-title Similar-Sites
            .row
                .col-sm-6.col-lg-4(ng-repeat='site in domain.similar track by $index')
                    .panel.panel-default.site-card
                        img.logo(ng-src='{{site.FavIcon}}', alt='favicon')
                        .site-url {{site.Url}}
