doctype html
html(ng-app='app')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600')
        link(rel='stylesheet', href='./main.css')
    body(ng-controller='DomainCtrl as domain')
        .container-fluid
            .row
                include ./templates/main.jade
                include ./templates/preview.jade

        script(src='../bower_components/jquery/dist/jquery.min.js')
        script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='../bower_components/angular/angular.min.js')
        script(src='./bundle.js')